body{
    margin: 0;
    background-color:grey;
}
#org-div-home-and-up > a{
    color: white;
}
#org-div-home-and-up{
    font-size: 100%;
    max-width: 60em;
    margin: auto;
    padding-top: 1em;
    padding-inline: 2em;
    color: white;
    background-color: black;
}
.content{
    padding: 2em;
    background-color:silver;
}
#preamble {
    max-width: 30em;
    background-color: black;
    color: white;
    margin-inline: auto;
    padding-inline: 1em;
    padding-bottom: 1em;
    font-size: 2em;
}
#postamble{
    max-width: 60em;
    margin: auto;
}
