body{
    margin: 0;
    background-color:cornsilk;
}
#org-div-home-and-up > a{
    color: white;
}
#org-div-home-and-up{
    font-size: 100%;
    max-width: 60em;
    margin: auto;
    padding-inline: 2em;
    height: 256px;
    color: white;
    background-image: url("../img/header.jpg");
}
.content{
    padding: 2em;
    background-color:silver;
}
#preamble {
    max-width: 15em;
    background-color: #3a4728;
    text-align: center;
    color: white;
    margin-inline: auto;
    padding-inline: 0.5em;
    font-size: 4em;
}
#postamble{
    max-width: 60em;
    margin: auto;
}
td,th {
    border: solid 1px black;
    padding-inline: 5px;
}
.timestamp {
    color: #882020;
}
